<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Xavier - BuyMyArt</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.7/css/mdb.min.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark py-3">
        <div class="container">
            <a href="index.html" class="navbar-brand">
                <h3 class="d-line align-middle">Xavierblaze_Art</h3>
            </a>
        </div>
    </nav>
    <div class="container">
        {{{ body }}}
    </div>
</body>

</html>