<section class="py-5">
    <h1 class="display-3">
        Thank You
    </h1>
    <p>Payment done successfully!</p>
    <p class="lead">You will be emailed on the delivery once payment is confirmed</p>
    <a href="/" class="btn btn-dark"> Go Back Home</a>
</section>